@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");
:root {
  --color-primary: #ff014f;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #f9004d;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22,
        -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #ff014f, #d11414);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px; }

* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary);
  color: var(--color-body);
  font-weight: var(--p-regular); }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
      overflow: hidden; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      overflow: hidden; } }
  @media only screen and (max-width: 767px) {
    body {
      overflow: hidden; } }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
  margin: 0;
  margin-bottom: 20px; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.4074;
  color: var(--color-heading); }

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.19;
  font-weight: 700; }

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.23; }

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.14; }

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.25; }

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.24; }

h6,
.h6 {
  font-size: var(--h6);
  line-height: 1.25; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit; }

.bg-color-tertiary h1,
.bg-color-tertiary h2,
.bg-color-tertiary h3,
.bg-color-tertiary h4,
.bg-color-tertiary h5,
.bg-color-tertiary h6,
.bg-color-tertiary .h1,
.bg-color-tertiary .h2,
.bg-color-tertiary .h3,
.bg-color-tertiary .h4,
.bg-color-tertiary .h5,
.bg-color-tertiary .h6 {
  color: #fff; }

.bg-color-tertiary p {
  color: #6c7279; }

.bg-color-tertiary a {
  color: #6c7279; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1,
  .h1 {
    font-size: 38px; }
  h2,
  .h2 {
    font-size: 32px; }
  h3,
  .h3 {
    font-size: 28px; }
  h4,
  .h4 {
    font-size: 24px; }
  h5,
  .h5 {
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 34px; }
  h2,
  .h2 {
    font-size: 28px; }
  h3,
  .h3 {
    font-size: 24px; }
  h4,
  .h4 {
    font-size: 20px; }
  h5,
  .h5 {
    font-size: 16px; } }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--s-bold); }

h4,
.h4,
h5,
.h5 {
  font-weight: var(--s-bold); }

h6,
.h6 {
  font-weight: var(--s-bold); }

p {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  font-weight: var(--p-regular);
  color: var(--color-body);
  margin: 0 0 40px; }
  p.b1 {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1); }
  p.b3 {
    font-size: var(--font-size-b3);
    line-height: var(--line-height-b3); }
  @media only screen and (max-width: 767px) {
    p {
      margin: 0 0 20px;
      font-size: var(--font-size-b2);
      line-height: var(--line-height-b2); } }
  p.has-large-font-size {
    line-height: 1.5;
    font-size: 36px; }
  p.has-medium-font-size {
    font-size: 24px;
    line-height: 36px; }
  p.has-small-font-size {
    font-size: 13px; }
  p.has-very-light-gray-color {
    color: var(--color-white); }
  p.has-background {
    padding: 20px 30px; }
  p.b1 {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1); }
  p.b2 {
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2); }
  p.b3 {
    font-size: var(--font-size-b3);
    line-height: var(--line-height-b3); }
  p:last-child {
    margin-bottom: 0; }

.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1); }

.b2 {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2); }

.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3); }

.b4 {
  font-size: var(--font-size-b4);
  line-height: var(--line-height-b4); }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%; }

table a,
table a:link,
table a:visited {
  text-decoration: none; }

cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
  color: var(--color-heading); }

var {
  font-family: 'Poppins', sans-serif; }

  ul,
ol {
  padding-left: 18px; }

ul {
  list-style: square;
  margin-bottom: 30px;
  padding-left: 20px; }
  ul.liststyle.bullet li {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-body);
    position: relative;
    padding-left: 30px; }
    @media only screen and (max-width: 767px) {
      ul.liststyle.bullet li {
        padding-left: 19px; } }
    ul.liststyle.bullet li::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: var(--color-body);
      left: 0;
      top: 10px; }
    ul.liststyle.bullet li + li {
      margin-top: 8px; }
  ul li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-body); }
    ul li a {
      text-decoration: none;
      color: var(--color-gray); }
      ul li a:hover {
        color: var(--color-primary); }
  ul ul {
    margin-bottom: 0; }

ol {
  margin-bottom: 30px; }
  ol li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    color: var(--color-body);
    margin-top: 10px;
    margin-bottom: 10px; }
    ol li a {
      color: var(--color-heading);
      text-decoration: none; }
      ol li a:hover {
        color: var(--color-primary); }
  ol ul {
    padding-left: 30px; }

